{{ form_start(articleForm) }}

    {{ form_row(articleForm.title, {
        label: 'Tytuł artykułu'
    }) }}

    {{ form_row(articleForm.content) }}
    {{ form_row(articleForm.publishedAt) }}
    {{ form_row(articleForm.author) }}

    <button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(articleForm) }}